type start_hci_filter, domain;
type start_hci_filter_exec, exec_type, file_type;

allow bluetooth self:capability2 wake_alarm;

allow bluetooth smd_device:chr_file { read write open };
allow bluetooth ta_data_file:dir search;

# FW file search
allow bluetooth firmware_file:dir search;

# whitelist ioctl commands
allow bluetooth self:socket create_socket_perms;
allowxperm bluetooth bluetooth:socket ioctl msm_sock_ipc_ioctls;

allow bluetooth alarm_boot_prop:file read;
