# communicate with camera
allow cameraserver camera_data_file:sock_file write;

allow cameraserver gpu_device:chr_file rw_file_perms;
allow cameraserver rootfs:lnk_file getattr;

allow cameraserver surfaceflinger:unix_stream_socket { read write };

allow cameraserver camera_prop:property_service set;
allow cameraserver init:unix_stream_socket connectto;
allow cameraserver property_socket:sock_file write;

# Sysfs accesses
allow cameraserver sysfs_camera_torch:dir search;
allow cameraserver sysfs_camera_torch:file rw_file_perms;
allow cameraserver sysfs_camera_torch:lnk_file r_file_perms;
allow cameraserver sysfs_battery_supply:dir search;
allow cameraserver sysfs_battery_supply:file r_file_perms;

allow cameraserver camera_prop:file r_file_perms;

# connect to /data/misc/camera sockets
allow cameraserver mm-qcamerad:unix_stream_socket connectto;
# camera socket
allow cameraserver camera_socket:dir rw_dir_perms;
allow cameraserver camera_socket:file create_file_perms;

# credmgr socket
allow cameraserver credmgrd:unix_stream_socket connectto;
allow cameraserver credmgrd_socket:sock_file w_file_perms;

# TA
allow cameraserver ta_data_file:dir search;

# Configstore binding
binder_call(cameraserver, hal_configstore_default);
allow cameraserver hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;
