#TAD
allow init tad_socket:sock_file create;
allow init tad_block_device:blk_file setattr;
allow init trim_area_partition_device:blk_file setattr;

#Torch
allow init sysfs_camera_torch:lnk_file read;

allow init debugfs:file write;

#============= qti_init_shell ==============
allow qti_init_shell iddd_file:dir { getattr open read remove_name rmdir write };
allow qti_init_shell tad:unix_stream_socket connectto;
allow qti_init_shell tad_socket:sock_file write;
allow qti_init_shell toolbox_exec:file { entrypoint getattr read };

