allow init { domain -lmkd -crash_dump }:process noatsecure;
allow init debugfs:file write;

#TAD
allow init tad_socket:sock_file create;
allow init tad_block_device:blk_file setattr;
allow init trim_area_partition_device:blk_file setattr;

#Torch
allow init sysfs_camera_torch:lnk_file read;

# Misc
allow init cache_file:file append;
allow init credmgrd_data_file:file append;
allow init property_socket:sock_file write;
allow init sensors_device:chr_file getattr;


#============= qti_init_shell ==============
allow qti_init_shell iddd_file:dir { getattr open read remove_name rmdir write };
allow qti_init_shell tad:unix_stream_socket connectto;
allow qti_init_shell tad_socket:sock_file write;
allow qti_init_shell toolbox_exec:file { entrypoint getattr read };

allow init hal_usb_hwservice:hwservice_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init proc:file { getattr open read write };
allow init sysfs:file { open setattr write };
allow init sysfs_msm_power:file { open write };
allow init sysfs_poweron_alarm:file { open write };
allow init system_server:binder call;
allow init btnvtool_exec:file execute_no_trans;
allow init sysfs_graphics:file { open setattr write };
allow init sysfs_wlan_fwpath:file setattr;
allow init vendor_file:file execute_no_trans;
allow init hwservicemanager:binder { call transfer };
allow init sysfs_cpu_boost:file { open write };
allow init sysfs_lowmemorykiller:file write;
allow init sysfs_thermal:file write;
allow init sysfs_devices_system_cpu:file write;
allow init sysfs_graphics:file { open write };
allow init sysfs_usb_supply:file { open write };

#============= init ==============
allow init hal_power_hwservice:hwservice_manager add;
allow init mpctl_socket:sock_file write;
allow init mpdecision:unix_stream_socket connectto;
allow init proc:file setattr;
allow init shell_exec:file execute_no_trans;
allow init sysfs_lowmemorykiller:file open;
allow init sysfs_timekeep:file { open read };
allow init sysfs_battery_supply:file { open write setattr };
allow init sysfs_usb_supply:file setattr;
allow init sysfs_msm_perf:file { open write };
