# policies for mediaserver
allow mediaserver camera_socket:dir { search write add_name };
allow mediaserver camera_socket:file create_file_perms;
allow mediaserver camera_data_file:dir search;

allow mediaserver mm-qcamerad:unix_stream_socket connectto;
allow mediaserver system_server:unix_stream_socket { read write };

allow mediaserver ta_data_file:dir { getattr open read  search };

# /data/local/tmp for Chokoball
#dontaudit mediaserver shell_data_file:dir search;

# HAL1 hacks stuff
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver audio_device:chr_file rw_file_perms;
allow mediaserver mpctl_data_file:dir search;
allow mediaserver mpctl_data_file:sock_file write;
allow mediaserver sysfs_camera_torch:dir search;
allow mediaserver sysfs_camera_torch:lnk_file read;
allow mediaserver sysfs_camera_torch:file { open read write };

allow mediaserver credmgrd_socket:sock_file write;
allow mediaextractor sdcardfs:file getattr;
allow mediaserver sensorservice_service:service_manager find;

allow mediaserver sysfs:file { open read write };
allow mediaserver sysfs_battery_supply:dir search;
allow mediaserver sysfs_battery_supply:file { getattr open read };

allow mediaserver self:socket create_socket_perms_no_ioctl;
allow mediaserver camera_data_file:sock_file w_file_perms;
allow mediaserver system_server:unix_stream_socket connectto;
allow mediaserver mpdecision:unix_stream_socket connectto;


allow mediaserver cameraproxy_service:service_manager find;
allow mediaserver cameraserver_service:service_manager add;
allow mediaserver device:dir { open read };


rw_dir_file(mediaserver, camera_data_file)
allow mediaserver camera_data_file:dir search;

# allow /data/misc/camera/ sockets
allow mediaserver camera_socket:sock_file rw_file_perms;
allow mediaserver mm-qcamerad:unix_dgram_socket sendto;

# allow credmgrd socket for cald server
allow mediaserver credmgrd_socket:sock_file rw_file_perms;

# allow procfs reading/writing
allow mediaserver camera_prop:file { getattr open read };
allow mediaserver proc:file { open read };

allow mediaserver hal_camera_hwservice:hwservice_manager find;
allow mediaserver hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;

# Binder policies
binder_call(mediaserver, hal_configstore_default);
