allow mediadrmserver rootfs:lnk_file getattr;
allow mediadrmserver tad_socket:sock_file write;
allow mediadrmserver tad:unix_stream_socket connectto;
allow mediadrmserver media_data_file:dir { add_name create getattr open read search write };
allow mediadrmserver media_data_file:file { create getattr open read write };
