#============= qmuxd ==============
qmux_socket(radio)
allow radio sysfs_touch:file rw_file_perms;

# whitelist ioctl commands
allow qmuxd self:socket create_socket_perms;
allowxperm qmuxd self:socket ioctl msm_sock_ipc_ioctls;

# allow sysfs names
allow qmuxd sysfs_subsys:file r_file_perms;

# allow diag access
allow qmuxd diag_device:chr_file rw_file_perms;
