# Grant access to Qualcomm MSM Interface (QMI) radio sockets to RILD
qmux_socket(rild)

# Binder related statements
binder_call(rild, per_mgr)
binder_use(rild)
allow rild audioserver_service:service_manager find;

allow rild self:process execmem;
allow rild tad_socket:sock_file write;
allow rild tee_device:chr_file { read write open };
allow rild radio_data_file:dir { add_name open read remove_name search write };
allow rild radio_data_file:file { create getattr ioctl lock open read unlink write };
allow rild tee_device:chr_file getattr;


# whitelist ioctl commands
allowxperm rild tee_device:socket ioctl msm_sock_ipc_ioctls;
allow rild tad:unix_stream_socket connectto;

allow radio system_app_data_file:dir getattr;
