# Connect to /dev/socket/tad
unix_socket_connect(sensors, tad, tad)
allow sensors ta_prop:file { getattr read open };
allow sensors sensors_data_file:dir setattr;
allow sensors sensors_data_file:file append;
