type suntrold, domain;
type suntrold_exec, exec_type, file_type;
type suntrold_sock_socket, file_type;

# Started by init
init_daemon_domain(suntrold)

#suntrold self
allow suntrold self:dir rw_file_perms;
allow suntrold socket_device:dir { add_name write };
allow suntrold socket_device:sock_file { create getattr setattr };
allow suntrold suntrold_sock_socket:dir { add_name search write };
allow suntrold suntrold_sock_socket:sock_file { create setattr };
allow suntrold tad:unix_stream_socket connectto;
allow suntrold tad_socket:sock_file write;

# firmware file access
allow suntrold firmware_file:file r_file_perms;

# whitelist ioctl commands
allow suntrold self:socket create_socket_perms;
allowxperm suntrold self:socket ioctl msm_sock_ipc_ioctls;

# qseecom
allow suntrold tee_device:chr_file rw_file_perms;
allowxperm suntrold tee_device:chr_file ioctl qseecom_sock_ipc_ioctls;

# ion
allow suntrold ion_device:chr_file rw_file_perms;
allowxperm suntrold ion_device:socket ioctl msm_sock_ipc_ioctls;

# FW file search
allow suntrold firmware_file:dir search;
