allow system_server ta_data_file:dir search;
allow system_server sysfs_usb_supply:dir search;
allow system_server sysfs_usb_supply:file r_file_perms;
allow system_server sysfs_touch:file rw_file_perms;
allow system_server sysfs_vibrator:file rw_file_perms;
allow system_server iddd_exec:dir search;
allow system_server iddd_exec:file { getattr open read };
allow system_server time_daemon:unix_stream_socket connectto;
allow system_server diag_device:chr_file { open read write };
 
# debugfs
allow system_server qti_debugfs:file r_file_perms;

# sensors
allow system_server sensors:unix_stream_socket connectto;
allow system_server sensors_socket:sock_file write;
allow system_server sensors_device:chr_file r_file_perms;

r_dir_file(system_server, sysfs_addrsetup)

allow system_server unlabeled:file unlink;
qmux_socket(system_server)

# mpdecision
allow system_server mpdecision:unix_stream_socket connectto;

# adb properties
set_prop(system_server, shell_prop);

allow system_server init:binder { call transfer };
