type ta_qmi, domain;
type ta_qmi_exec, exec_type, file_type;

# Started by init
init_daemon_domain(ta_qmi)

# TODO: What exactly is this needed for? - Need to investigate
auditallow  ta_qmi self:capability { dac_override net_raw net_bind_service };

# Connect to /dev/socket/tad
unix_socket_connect(ta_qmi, tad, tad)

# Auto socket
allow ta_qmi self:socket create_socket_perms;
allowxperm ta_qmi self:socket ioctl msm_sock_ipc_ioctls;

# Wakelocks!
wakelock_use(ta_qmi)

# Access to /dev/smem_log
allow ta_qmi smem_log_device:chr_file rw_file_perms;

allow ta_qmi property_socket:sock_file write;
allow ta_qmi init:unix_stream_socket connectto;

allow ta_qmi ta_prop:file { getattr open read };
allow ta_qmi ta_prop:property_service set;

#============= allow tad static wait ==============
allow qti_init_shell rootfs:file entrypoint;

#============= ta_qmi ==============
# TODO: wrong labeled dest!
auditallow ta_qmi proc:file { open read };
auditallow ta_qmi sysfs:file { getattr open read };
